<div class="hidden-xs col-md-1"></div>
<div id="about-content" class="col-xs-12 col-md-10">
  <h1>About COMPEL</h1>
  <p>COMPEL is an initiative designed to address the preservational crisis of the computer music composed for a live performer and some form of technology-mediated part, be it fixed media or an interactive software. Furthermore, it seeks to empower the ensuing community with a platform that seamlessly integrates the community-building social media tools with the library repository. By doing this it offers a crowdsourced platform that encourages users to participate and contribute to an ever-growing ecosystem of unique and cutting edge music literature.</p>
  <div><p>COMPEL addresses the aforesaid challenges by:</p>
    <ul>
      <li>Introducing a framework with multiple personas that offers storage, retrieval, sorting, dynamic curation, and reproducibility of the electroacoustic compositions with initial focus on works for a live performer and technology;</li>
      <li>Leveraging lessons learned from the successful social media and entrepreneurial ventures, including Amazon and Facebook, to provide a free, open, and dynamic community-building portal where participants actively participate in the content creation, use, and curation, including fostering discoveries based on the past user interactions (e.g. users who performed this piece were also interested in another one);</li>
      <li>Offering a platform for matchmaking between the composers and performers that fosters community-building, visibility, and collaboration;</li>
      <li>Providing a foundation for crowd-sourced and group and/or institution-specific comments, difficulty and appropriateness ratings, and eventually a platform for easy extraction of artist’s activity reports. Given electroacoustic music’s presence in the academic circles, a number of these features may prove particularly helpful to higher education institutions, as well as pre-higher-education instruction and dissemination of the newfound literature;</li>
    </ul>
  </div>
  <h2>PEOPLE</h2>
  <h3>Core Team</h3>
  <div class="person">
    <%= image_tag('vtul/people/ico.jpg', class: 'about-people-img') %>
    <b>Ivica Ico Bukvic</b>
    <p>The work of sound artist and researcher Ivica Ico Bukvic (b. 1976) is driven by the ubiquitous interactivity. Bukvic’s output encompasses aural, visual, acoustic, electronic, performances, installations, technologies, research publications, presentations, grants, patent disclosures, and awards. His most recent work focuses on audio spatialization and sonification, exploring connections among the arts and human health, and recontextualizing STEM K-12 education through innovative approaches to creativity and technology. Bukvic spent most of his career as a scholar-practitioner developing new transdisciplinary trajectories. Since 2011 he has received $1M in external funding.</p>
<p>Dr. Bukvic currently works at Virginia Tech in the School of Performing Arts (SOPA) where he serves as the founder and Director of the Digital Interactive Sound and Intermedia Studio (DISIS) and the Linux Laptop Orchestra (L2Ork), Director and co-founder of the Creative Technologies in Music degree option, Institute for Creativity, Arts, and Technology’s (ICAT) Senior Fellow, Provost-appointed Stakeholder for the Creativity &amp; Innovation Strategic Growth Area, Executive Committee member of the Individualized PhD (iPhD) program in the Human-Centered Design, and a member of the Center for Human-Computer Interaction with a courtesy appointment in Computer Science.</p>
  </div>
  <div class="person">
    <%= image_tag('vtul/people/andi.jpg', class: 'about-people-img') %>
    <b>Andi Ogier</b>
    <p>Andrea L. Ogier is the Director, Data Services in the University Libraries at Virginia Tech. She holds a MLIS with a specialization in Data Curation from the University of Illinois Urbana-Champaign, and manages a portfolio of data-focused research services within the Libraries, including a team of data consultants and an institutional data repository.</p>
  </div>
  <div class="person">
    <%= image_tag('vtul/people/jeffery.jpg', class: 'about-people-img') %>
    <b>Jeffery Kyle Hutchins</b>
    <p>Jeffery Kyle Hutchins is Artist/Teacher of Saxophone at Virginia Tech where he also directs the New Music Ensemble (NME) and Jazz Lab Band. He received the Doctor of Musical Arts and Masters of Music degrees from the University of Minnesota and Bachelors degrees in music education and saxophone performance from the University of North Texas. He has performed recitals and taught classes in Canada, China, the Czech Republic, Germany, Scotland, South Korea, and across the United State. He has performed the world premiere of more than 100 new works for the saxophone, and his recordings can be heard on Avid Sound Records, Emeritus Records, GIA Publications, Farpoint Recordings, Klavier Records, and Score Follower.</p>
  </div>

  <h3>Visual Design</h3>
  <div class="person">
    <%= image_tag('vtul/people/meaghan.jpg', class: 'about-people-img') %>
    <b>Meaghan Dee</b>
    <p>Meaghan Dee works in the Visual Communication and Design program at Virginia Tech and serves on the American Institute for Graphic Artists (AIGA) National Design Educators Committee. She received her Bachelors at the University of Illinois, with a focus in Graphic Design, and a Masters of Fine Arts at Virginia Commonwealth University, with a focus in Visual Communication Design. Prior to joining Virginia Tech, Meaghan worked professionally as a designer for the Architecture and Design firm, Marnell Companies, where she regularly worked with Architects, Interior Designers, and Industrial Designers on large-scale resorts. She specializes in branding, typography, ui/ux design, editorial design, and packaging. Her work has been awarded nationally and internationally by the American Advertising Federation (AAF), the AIGA, Graphic Design U.S.A., Graphis, Hiii Typography, HOW Magazine, Print Magazine, and the University &amp; College Designers Association (UCDA). Additionally, Meaghan is on the Executive Committee for the Center for Human Computer Interaction and a part of the Human Centered Design organization at Virginia Tech.</p>
  </div>
  <div class="person">
    <%= image_tag('vtul/people/patrick.jpg', class: 'about-people-img') %>
    <b>Patrick Finley</b>
    <p>Patrick Finley is a Graphic Designer and Design Educator in the School of Visual Arts at Virginia Tech. Finley received his Bachelor of Fine Arts in Graphic Design with a Computer Science minor from the University of Wisconsin- Eau Claire, and received his Master of Fine Arts in Graphic Design with an emphasis in Human Computer Interaction from Iowa State University. His primary research interests include branding, UI/UX design, website design and development, and app design where he has been involved with over a dozen app-related projects surpassing 200K downloads. His work has been recognized both nationally and internationally by the American Advertising Federation (AAF), HOW Design, Graphic Design U.S.A., Graphis, the International Visual Identity Awards, Art Director’s Guild of Tulsa, and at the Google Fit Developers Challenge.</p>
  </div>

</div>
<div class="hidden-xs col-md-1"></div>
