<ul class="nav navbar-nav">
  <li <%= 'class=active' if current_page?(hyrax.about_path) %>>
    <%= link_to t(:'hyrax.controls.about'), hyrax.about_path %></li>
<!--  <li <%= 'class=active' if current_page?('/advanced-search') %>>
    <%= link_to 'Advanced Search', '#' %></li> -->
  <li <%= 'class=active' if current_page?(main_app.search_catalog_path) %>>
    <%= link_to 'Browse', main_app.search_catalog_path %></li>
  <li <%= 'class=active' if current_page?(hyrax.contact_path) %>>
    <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path %></li>
</ul><!-- /.nav -->
