<%# Modified from Hyrax Gem 1.0.3 %> 
<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <%= link_to hyrax.dashboard_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
        <span></span> <%= t("hyrax.toolbar.dashboard.menu") %> <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to t("hyrax.dashboard.title"), hyrax.dashboard_path %></li>
        <li class="divider"></li>
        <li><%= link_to t("hyrax.toolbar.dashboard.transfers"), hyrax.transfers_path %></li>
      </ul>
    </li>

    <% if current_ability.can_create_any_work? %>
      <li class="dropdown">
        <%= link_to hyrax.dashboard_works_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span></span> <%= t("hyrax.admin.sidebar.works") %> <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("hyrax.search.form.option.my_works.label_long"), hyrax.dashboard_works_path %></li>
          <% if create_work_presenter.many? %>
            <% # launch the type selector modal %>
            <li>
              <%= link_to(
                    t("helpers.action.work.new"),
                    '#',
                    data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'single' },
                    class: "item-option contextual-quick-classify",
                    role: 'menuitem'
                  ) %>
            </li>
            <li>
              <%= link_to(
                    t("hyrax.batch_uploads.new.header"),
                    '#',
                    data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'batch' },
                    class: "item-option contextual-quick-classify",
                    role: 'menuitem'
                  ) %>
            </li>
          <% else %>
            <% # simple link to the first work type %>
            <li>
            <%= link_to(
                  t("helpers.action.work.new"),
                  new_polymorphic_path([main_app, create_work_presenter.first_model]),
                  class: "item-option contextual-quick-classify",
                  role: 'menuitem'
                ) %>
            </li>
            <li><%= link_to t("hyrax.toolbar.works.batch"),
                            hyrax.new_batch_upload_path(payload_concern: create_work_presenter.first_model) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if can?(:create, Collection) %>
      <li class="dropdown">
        <%= link_to hyrax.dashboard_collections_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <%= t("hyrax.admin.sidebar.collections") %> <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("hyrax.search.form.option.my_collections.label_long"), hyrax.dashboard_collections_path %></li>
          <li><%= link_to t("helpers.action.collection.new"), hyrax.new_dashboard_collection_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
